<div class="container">
<h2>Households and Household income structure</h2>
<h3>Singaporean Household Income</h3>
<p>
  We wrote about what is a good pay in Singapore, where a typical Singaporean worker’s median monthly salary stands at S$3,500 (excluding employer CPF). While it is good to know where you stand when it comes to your individual salary, a better number to look at will be your household income.
  <br>
  The average monthly household income measures the combined incomes of all the people living under the same roof. It includes every form of income such as salaries, employer’s CPF wage contributions and investment returns.
</p>
<h4>Want to know more?</h4>
  <div class="container-fluid">
    <a href="/population" data-toggle="tooltip" title="Want to know population from multiple states? Please specify comma separated states in the text">Please enter state</a>
    <input class="text-info" type="text" [(ngModel)]="State" >
    <button class="btn-primary" (click)="onClick()" >Populate</button>
  </div>
  <br>
  <h4>Population Result</h4>
  <div class="table-hover">
    <table class="table">
      <thead class="badge-danger">
      <tr>
        <th>State</th>
        <th>Household Income</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let popItem of Result">
        <td>{{popItem.state}}</td>
        <td>{{popItem.households}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
