<h2>
  BACKGROUND
</h2>
<p>
  GIC, on-boarding test. What GIC would like to see:
</p>
<ul>
  <li>Functionality</li>
  <li>Code efficiency</li>
  <li>Code readability</li>
  <li>Thinking out-of-the-box: the tasks will give you a specific method to implement. Are there more efficient ways to achieve the same outcome?</li>
</ul>

<h2>SETUP</h2>
<p>
  1.	Develop this test program using .NET Core 2.0 or higher. Use Visual Studio and IIS Express for this work.
</p>

<h3>TASK 1</h3>
<ul>
  <li>Load the below data into embedded database, like SQLite, onto 2 tables, Actuals and Estimates.</li>
  <li>Create a GET web API with endpoint /population | households?state=state_id,…</li>
  <li>
    Endpoint<br>
    -	This API should return the value of Population or Households according to the path endpoint, for the states given in the comma-delimited query parameter state.<br>
    -	Example /population?state=1,10,12 will return the population data for states 1, 10 and 12.<br>
    -	Enable CORS for this endpoint.<br>
  </li>
  <li>
    Logic<br>
    -	For the required states, look up Actuals table first. If the data is available, return that data. If not, return a sum of the value over all districts for the required state in the Estimates table.<br>
    -	If any input state id is not available, return a 404 HTTP Code instead.<br>
  </li>
  <li>
    Response<br>
    -	The response should be in JSON format like this:<br>
    State: 1, Population: 22805514.45 ,  State: 10, Population: 338888364.12,<br>
  </li>
</ul>

<p>
<h3>TASK 2</h3>
<ul>
  <li>
    Put in place a logging framework (e.g. Serilog), write a log line for every API call. The log line should record this message:
    yyyy-mm-dd hh24:mi:ss.fff – API endpoint called - /population?state=1,10,12
    (Error messages must also be logged.)
  </li>
  <li>
    The logging framework should be configured to write to /log/yyyymmdd.log file and configured to roll-over to a new file at every new day.
  </li>
</ul>
<h3>TASK 3</h3>
<ul>
    Given this technology stack, design a pipeline for Continuous Integration & Continuous Delivery.
    Briefly explain the design, the critical spots and potential area of complexities in the design. You may propose additional tools.
    We can leave deeper discussions to the interview session.
</ul>
<p>
    (Bonus: include Continuous Monitoring.)
</p>
<ul>
  <li>Front-end</li>
  <li>Yarn</li>
  <li>ReactJS</li>
  <li>Back-end</li>
  <li>.NET Core 2.0</li>
  <li>IIS10 on Windows Server 2016</li>
  <li>Microsoft SQL Server 2016 & Postgresql</li>
  <li>Tools</li>
  <li>VS2017</li>
  <li>Git</li>
  <li>JIRA</li>
  <li>Jenkins</li>
  <li>Puppet</li>
</ul>
