<div style="align-content: center">
<div>
<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2><img src="../assets/images/nav-bar-header-icon.png"
               height="32" width="32"/>{{ title }}</h2>
    </div>
    <div class="navbar navbar-expand">
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="population">Population</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="households">Households</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div style="align-content: center">
  <router-outlet></router-outlet>
</div>
</div>


