<div class="container">
<h2>Population and Population Structure</h2>
<h3>
Population Statistics
</h3>
<p>
  Statistics on Singapore's population are compiled by the Singapore Department of Statistics.Our total population is made up of Singapore citizens, Permanent Residents (PRs) and non-residents. The non-resident population is a diverse group who are here for work, study or family reasons. As of June 2017, the total population size is 5.61 million.
</p>
<h4>Want to know more?</h4>
  <div class="container-fluid">
    <a href="/population" data-toggle="tooltip" title="Want to know population from multiple states? Please specify comma separated states in the text">Please enter state</a>
    <input class="text-info" type="text" [(ngModel)]="State" >
    <button class="btn-primary" (click)="onClick()" >Populate</button>
  </div>
<br>
<h4>Population Result</h4>
<div class="table-hover">
<table class="table">
  <thead class="badge-info">
    <tr>
      <th>State</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let popItem of Result">
      <td>{{popItem.state}}</td>
      <td>{{popItem.population}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
